@font-face {
  font-family: 'OpenDyslexic';
  src:
    url('../fonts/OpenDyslexic-Bold.woff2') format('woff2'),
    url('../fonts/OpenDyslexic-Bold.woff') format('woff'),
    url('../fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src:
    url('../fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
    url('../fonts/OpenDyslexic-Bold-Italic.woff') format('woff'),
    url('../fonts/OpenDyslexic-Bold-Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src:
    url('../fonts/OpenDyslexic-Italic.woff2') format('woff2'),
    url('../fonts/OpenDyslexic-Italic.woff') format('woff'),
    url('../fonts/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src:
    url('../fonts/OpenDyslexic-Regular.woff2') format('woff2'),
    url('../fonts/OpenDyslexic-Regular.woff') format('woff'),
    url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}

body.use-arial {
  font-family: Arial, sans-serif;
}

.clear-btn {
  border-color: lightgray;
  border-radius: 50%;
}
